/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(84,110,122,.2);
}
::-webkit-scrollbar-thumb {
    background: rgba(84,110,122,.6);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(84,110,122,1);
}