<div style="margin: 0 4.75em 2em; display: block;">

    <h1>Angular Gantt Demo</h1>

    <div style="height: 100px;">
        <div *ngIf="project">
            <h1>Project</h1>
            <input type="text" [(ngModel)]="project.name"/>
            <button (click)="createTask(taskStatus)">Create Task</button>
            <button (click)="updateTasks()">Update Tasks Percent Complete</button>
            <button (click)="loadBigDataSet(100)">Load big dataset</button>
        </div>
    </div>

    <gantt [project]="project" [options]="options" (onGridRowClick)="gridRowClicked($event)" (onPopoverOpen)="popoverOpened($event)"></gantt>
</div>
